<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Option">
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
      <listener class-name="com.stockMarket.listeners.CustomeListners"/>
       
  </listeners>
	<test name="Test">
		<classes>

			<class name="com.stockMarket.testcases.OptionPage" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
